/* Estilos comunes */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #D9526B;
  padding: 10px;
  border-radius: 10px;
}


.logo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #F2C2D8;
  }

/* Estilos móvil/celular */
@media all and (max-width: 700px) {

  /* Oculta el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #D9526B;
    grid-template: 20%,40;
    transform: translateX(-100vw);
    transition: 0.5s;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav__link {
    display:grid;
    padding: 0.3rem;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.nav__link:hover{
  color: rgb(245, 198, 206);
  box-shadow: 0 0 50px #8649619f;
  color: pink;
  opacity: 1;
}

/* Estilos Escritorio */
@media all and (min-width: 701px) {

  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display:none;
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav__link {
    display:grid ;
    display:inline-table;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .nav__link:hover {
    box-shadow: 0 0 50px #8649619f;
    color: pink;
    opacity: 1;
  }
}
